@media (min-width: 0px) {
  button:hover {
    background-color: #1e3932;
    color: white;
  }
  .apiKeyForm {
    background-color: tomato;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .apiKeyForm h3 {
    font-size: 3.5vw;
  }

  .apiKeyForm p {
    font-size: 20px;
  }

  .apiKeyForm span {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .apiKeyForm button {
    border-radius: 120px;
    padding: 10px;
    font-size: 2.5vw;
    margin: 10px;
    width: 40vw;
  }

  .apiKeySpace {
    margin-bottom: 5px;
    font-size: 15px;
  }

  .menubar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .Modal {
    padding: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    height: 93vh;
    overflow-y: auto;
    font-size: 15px;
    background-color: tomato;
    color: #1e3932;
  }

  .searchForm {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 5px;
    flex-wrap: nowrap;
  }

  .searchForm select {
    width: 10vw;
  }
  .searchForm input {
    width: 95vw;
  }

  .searchForm button {
    font-size: 3vw;
    width: 200px;
  }

  .ItemListWrap {
    margin-left: auto;
    margin-right: auto;
    height: 650px;
    overflow-y: auto;
  }

  .ItemList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid white;
    padding: 10px;
    font-size: 2.8vw;
  }

  .ItemList button {
    margin-top: 8px;
    font-size: 2.8vw;
  }

  .ItemList .imageList {
    width: 40vw;
    height: 20vh;
    overflow-y: auto;
  }

  .ItemList img {
    width: 40vw;
  }
}

@media (min-width: 700px) {
  .apiKeyForm {
    background-color: tomato;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .apiKeyForm h3 {
    font-size: 24px;
  }

  .apiKeyForm p {
    font-size: 20px;
  }

  .apiKeyForm span {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .apiKeyForm button {
    border-radius: 120px;
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    width: 278px;
  }

  .apiKeySpace {
    margin-bottom: 5px;
    font-size: 15px;
  }

  .menubar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .Modal {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    font-size: 15px;
  }

  .searchForm {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 5px;
    flex-wrap: nowrap;
  }

  .searchForm select {
    width: 10vw;
  }
  .searchForm input {
    width: 95vw;
  }

  .searchForm button {
    font-size: 18px;
    width: 30vw;
  }

  .ItemListWrap {
    margin-left: auto;
    margin-right: auto;
    height: 680px;
    overflow-y: auto;
  }

  .ItemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid white;
    padding: 10px;
    font-size: 18px;
  }

  .ItemList button {
    margin-top: 8px;
    font-size: 18px;
  }

  .ItemList .imageList {
    width: 280px;
    height: 200px;
    overflow-y: auto;
  }

  .ItemList img {
    width: 260px;
  }
}
