.WRAP {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  min-width: 800px;
}

.SearchForm {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  min-width: 800px;
}

.Modal {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-end;
  margin-top: 5vh;
  margin-bottom: 5vh;
  min-width: 800px;
  width: 80vw;
  overflow-y: auto;
}

.mainMenuWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
}

.EMPTYIMAGE {
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/276/143/635/computer-minimalism-web-developer-hd-wallpaper-preview.jpg");
  background-position: center center;
  background-size: cover;
  height: 63.4vh;
  min-width: 800px;
}

.modalTitle {
  display: flex;
  color: #5498d8;
  text-align: center;
}
