@media (min-width: 0px) {
  .noticeForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .noticeForm h1 {
    font-size: 5vw;
  }
  .noticeForm input {
    padding: 10px;
    margin-bottom: 10px;
    width: 55vw;
  }

  .noticeForm button {
    padding: 2px;
    width: 20vw;
  }
  .noticeForm textarea {
    width: 57vw;
    height: 20vh;
    margin-bottom: 10px;
  }
}

@media (min-width: 700px) {
  .noticeForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .noticeForm h1 {
    font-size: 36px;
  }

  .noticeForm input {
    padding: 10px;
    margin-bottom: 10px;
    width: 380px;
    font-size: 18px;
  }

  .noticeForm button {
    width: 405px;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .noticeForm textarea {
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
    font-size: 18px;
  }
}
