@media (min-width: 0px) {
  .SMSAuth {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 60vw;
    flex-wrap: wrap;
  }

  .SMSAuth input {
    border-radius: 120px;
    width: 35vw;
    padding: 2.5vw;
  }
}

@media (min-width: 700px) {
  .SMSAuth button {
    border-radius: 120px;
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    width: 278px;
  }

  .SMSAuth input {
    width: 240px;
    padding: 20px;
  }
}
