.LoginHeader {
  display: flex;
  background-color: #1e3932;
  padding: 10px;
  height: 60px;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
}
.LoginHeader h1 {
  font-size: 36px;
  color: white;
}
